@import url("https://use.typekit.net/auh4vyu.css");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "sofia-pro", sans-serif;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.5;
  color: #333;
}

.page-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #f8f8f8;
  color: #333;
}

header a {
  text-decoration: none;
  color: inherit;
}

header nav {
  display: flex;
}

header ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

header li {
  margin: 0 10px;
}

@media (max-width: 767px) {
  header nav {
    display: none;
  }

  header::before {
    content: "Menu";
    display: block;
  
    cursor: pointer;
  }

  header ul {
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    background-color: #f8f8f8;
    display: flex;
    flex-direction: column;
  }

  header li {
    margin: 10px 0;
    width: 100%;
    text-align: center;
  }
}

header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #f8f8f8;
  color: #333;
}

header a {
  text-decoration: none;
  color: inherit;
}

header nav {
  display: flex;
}

header ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

header li {
  margin: 0 10px;
}

@media (max-width: 767px) {
  header nav {
    display: none;
  }

  header::before {
    content: "Menu";
    display: block;
    font-size: 18px;
    cursor: pointer;
  }

  header ul {
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    background-color: #f8f8f8;
    display: flex;
    flex-direction: column;
  }

  header li {
    margin: 10px 0;
    width: 100%;
    text-align: center;
  }
}

header.open ul {
  display: flex;
}





#work li {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

#work img {
  max-width: 200px;
  margin-right: 10px;
}

form {
  border: 1px solid #ccc;
  padding: 20px;
  margin: 20px 0;
}

form label {
  display: block;
  margin-bottom: 5px;
  margin-top: 20px;
}

footer p {
  margin-top: 10%;
  text-align: center;
  font: .666em sans-serif;
  
  padding: 15px;
  color: #333;
}



