@import url('https://use.typekit.net/auh4vyu.css');



* {
  margin: 0;
  padding: 0;
}

body{

}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  display: block;
  
  text-decoration: none;
  float: right;
  
}

.header-branding {
  font-family: 'Sofia-pro', sans-serif;
	font-style: normal;
    font-weight: 600;
    font-size: 34px;
    
padding: 20px;

  padding-bottom: 25px;
    text-transform: none;
 	text-align: center;
	display: flex;
align-items: center;
      color: #e37263;
  line-height: 16px;

}

a.header-nav-item {
	padding: 10px 20px;
	display: block;
}


.header-nav-item-wrapper{
 	text-align: center;
	


  padding: 25px;
}
.header-nav-outer-wrapper{
position: -webkit-sticky; /* Safari */

  margin: 3.5rem;
  	text-align: center;
	display: flex;
}

.header-nav-item{
font-family: 'Proxima-nova', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 1rem;
align-items: center;
line-height: 20px;
color: #000000;
  text-decoration: none;
  width: 46px;
  justify-content: center;
}


.header-nav-item-wrapper a:hover {
	color: #E85F5C;
}

.header-nav-item-wrapper a:focus {
  text-decoration: underline;
}


/* ================================= 
  Media Queries
==================================== */



@media (max-width: 600px) {
	.header-nav-outer-wrapper,
	.nav {
		display: flex;
align-items: center;
	}
	.header-nav-outer-wrapper {
		flex-direction: column;
		align-items: center;
    	.header-nav-outer-wrapper{
		width: 80%;
		margin: 0 auto;
		max-width: 1150px;
	}
	}

}

@media (min-width: 600px) {
  .header-nav-outer-wrapper,
	.nav {
		display: flex;
align-items: center;
	}
	.header-nav-outer-wrapper {
		flex-direction: column;
		align-items: center;

		width: 80%;
		margin: 0 auto;
		max-width: 1150px;
	}
	}

@media (min-width: 1025px) {
	.header-nav-outer-wrapper {
		flex-direction: row;
		justify-content: space-between;
	}

}

.h1_top{
  text-transform: uppercase;
font-family: 'Sofia-pro', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 12px;
margin-left: 8.65px;
margin-bottom: 0;

align-items: center;

letter-spacing: 1.6px;

color: #E85F5C;
}

h1{
font-family: 'Sofia-pro', sans-serif;
	font-style: normal;
margin-top: 50px;
font-weight: bold;
font-size: 120px;
line-height: 12px;


display: flex;
align-items: center;

letter-spacing: -1.7008px;
margin-bottom: 10px;

color: #4A4A4A;
}

.h1-wrapper{
  display: flex;
  flex-direction: column;
letter-spacing: 1.6px;
  width: auto;

  align-self: center;
align-items: left;
  
margin-top: 30px;

 margin: 4.5rem;
  
		width: 80%;
		margin: 0 auto;
		max-width: 1150px;

}



.h1_middle{
  margin-bottom: 50px;
}

.tagline{
  /* Tagline */

font-family: 'Proxima-nova', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 16px;
   line-height: 27.2px;
margin-top: 50px;
margin-left: 8.75px;
letter-spacing: 0.64px;
padding-top: 25px;
color: #000000;

}

img{

 max-width: 100%;
height: auto;
  
  object-fit: cover;
   display: block;
 
}



h2 {
font-family: 'Sofia-pro', sans-serif;
font-style: normal;
font-weight: medium;
font-size: 40px;
line-height: 32px;

display: flex;
align-items: center;
text-align: center;
margin: 0;
color: #4A4A4A;
  margin-bottom: .7rem;
  line-height: auto;
}

@media (max-width: 991.98px) {
  #card-1 h2 {
    line-height: 2.75rem;
  }
	.img {
	max-width: 80%;	
	}
}

@media (min-width: 991.98px) {
  #card-1 h2 {

    max-width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }
}
  
h3{
font-family: 'Proxima-nova', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 23.2px;
/* or 145% */
margin-bottom: 1rem;
display: flex;
align-items: center;
text-align: center;
line-height: 1.75rem;
color: #000000;  
   
}

.check-it-out{
  text-align: center;
  align-items: center;
  
}

a.check-it-out{
width: 114px;
height: 36px;
  border: 1.5px solid #E85F5C;
box-sizing: border-box;
 font-family: 'Proxima-nova', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 1rem;
line-height: 23px;
letter-spacing: -0.5px;

display: flex;
align-items: center;
text-align: center;
justify-content: center;
color: #E85F5C;
text-decoration: none;

}

a.check-it-out:hover{
 font-family: 'Proxima-nova', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 23px;
letter-spacing: -0.5px;


display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;
background: #F28E85;
  border: #F28E85 solid 1.5px; 
}

a.check-it-out:active{
 font-family: 'Proxima-nova', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 23px;
letter-spacing: -0.5px;

display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;
background: #F28E85;
  border: #F28E85 solid; 
}

a.check-it-out:focus{
 font-family: 'Proxima-nova', sans-serif;

font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 23px;
letter-spacing: -0.5px;

display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;
background: #E85F5C;
  border: #E85F5C solid 1.5px;
}

.card-wrapper{
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  padding-top: 40px;
  padding-bottom: 40px;
}

@media (max-width: 1199.98px) {
.card-wrapper{
  display: flex;
 flex-direction: column;
  
  padding-top: 40px;
  padding-bottom: 40px;
}
}

.card{
display: flex;
  flex-direction: column;

justify-content: center;
  align-items: center;
padding: 50px;

}



#card-1{
 background-color: #FFEEE8;

}

#card-2{
background-color: #F2D3D0;

}

#card-2 img{
  
  margin-left: 30px;
    margin-right: 30px;
  margin-bottom: 30px;

}

#card-3{
  background-color: #F2B4AE;

}

#card-4{
 background-color: #F2A099; 

}


.white-details-card{
  background-color: #ffffff;
 
 justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
 
  width: 500px;
  max-width: 75%;
height: auto;
  padding: 30px;
  margin-top: 0;
  
}

@media (max-width: 767.98px) {
.white-details-card{
  display: flex;
 flex-direction: column;
  line-height: 3.5rem;
  padding-top: 40px;
  padding-bottom: 40px;
}
	.img {
	width: 80%;
	}
}

.about-skills-container{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 0;
  
}

.skills-container{
  display: flex;
  flex-direction: column;
padding: 7rem 5.5rem 5.5rem 5.5rem;
    width: auto;
  text-align: left;
  
}

h4{
font-family: 'Sofia-pro', sans-serif;
	font-style: normal;
font-weight: normal;
  color: #F28E85;
  text-transform: none;
  font-size: 1.8rem;
  line-height: 3.2rem;
  letter-spacing: 1.2992px;
}

span{
  color: #F2D3D0;
   font-family: 'Sofia-pro', sans-serif;
	font-style: normal;
font-weight: normal;
  text-transform: none;
  font-size: 2.2rem;
  line-height: 3.2rem;
  letter-spacing: 1.2992px;
}





 
   
   
 





.about-intro{
font-family: 'Sofia-pro', sans-serif;

font-style: normal;
font-weight: 600;
font-size: 48px;
line-height: 58px;
margin-left: 5px;
display: flex;
align-items: center;
letter-spacing: 1.2992px;
margin-bottom: 35px;

color: #4A4A4A;
}

@media (max-width: 600) {
	.about-intro{
	line-height: 70px;
	}
}

.about-body-copy{
  font-family: 'Proxima-nova', sans-serif;

	font-style: normal;
font-weight: normal;
font-size: 1rem;
line-height: 27.2px;
margin-left: 8.35px;
display: flex;
align-items: center;
  justify-content: left;
letter-spacing: 0.64px;
margin-top: 0;
  margin-bottom: 40px;
color: #000000;
  
}
/*
.about-container{
    display: flex;
  flex-direction: column;
letter-spacing: 1.6px;
  margin-left: 425px;
   margin-right: 425px;
align-items: space-evenly;
  border: solid;
margin-top: 30px;
  margin-bottom: 30px;
}*/

.about-container{
   display: flex;
  flex-direction: column;
letter-spacing: 1.6px;
  width: auto;
line-height: 1.5rem;
  align-self: center;
align-items: left;
  


padding: 6.5rem 5.5rem 5.5rem 5.5rem;
  
		width: 50%;
		margin: 0 auto;
}

@media (max-width: 1199.98px){
  .about-skills-container{
    display: flex;
    flex-direction: column;
  }
  .skills-container{
    justify-content: center;
    align-items: center;
    letter-spacing: 4rem;
    width: auto;
    margin-left: 25%;
    text-align: right;
 padding-top: 0;
    margin-top: 0;
    line-height: 5.5rem;

   
  }
    
  
}


.say-hi{
   text-transform: uppercase;
font-family: 'Sofia-pro', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 1rem;
line-height: 25px;
margin-right: auto;

  margin-left: 3px;
align-items: flex-end;
letter-spacing: 1.6px;
color: #E85F5C;
min-width: 8px;
}

.email{
 font-family: 'Sofia-pro', sans-serif;
 
	font-style: normal;
margin-left: 0;
  margin-right: auto;
font-weight: bold;
font-size: 72px;
line-height: 12px;
display: flex;
align-items: left;
width: auto;
letter-spacing: 1.2992px;
color: #4A4A4A;
 align-self: left;
  margin-top: 36px;
  margin-bottom: 40px;
  padding-right: 0;
  padding-left: 0;
}

.contact-container{
   display: flex;
  flex-direction: column;
letter-spacing: 1.6px;
 padding-left: 0;
  padding-right: 0;
margin-top: 5rem;
  padding-bottom: 50px;
  margin-right: auto;
  margin-left: 25%;
align-items: left;
	justify-content: left;
}

@media (max-width: 1199.98px) {
  .email {
    font-size: 60px;
  }
}

@media (max-width: 991.98px) {
  .contact-container {
width: auto;
    margin-left: 20%;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
        justify-content: center;
  }
}

@media (max-width: 991.98px) {
  .email {
    margin-left: 0;
    margin-right: 0;
    padding-right: 0;
    font-size: 50px;
    padding-left: 0;
    margin-top: 18px;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .contact-container {
    margin-left: 25%;
    margin-right: 25%;
    padding-left: 0;
    padding-right: 0;
    justify-content: center;
  }
  .email {
    max-width: 100%;
margin-right: 0;
    padding-left: 0;
    font-size: 36px;
  }
  
}

@media (max-width: 750px) {
  .contact-container {
    margin-left: 25%;
    margin-right: 25%;
    padding-left: 0;
    padding-right: 0;
    justify-content: center;
  }
  .email {
    max-width: 100%;
margin-right: 0;
    padding-left: 0;
    font-size: 30px;
	  margin-top: 5px;
  }

}
  
 .footer-nav-item{
  font-family: 'Proxima-nova', sans-serif;

font-style: normal;
font-weight: normal;
font-size: 1rem;
line-height: 20px;
text-decoration: none;
color: #ffffff;
}

.footer-nav-item:hover{
  color: #F2D3D0;
}

.footer-nav-item:focus{
  color: #F2D3D0;
}

a.footer-nav-item{	
	display: block;
}

.footer-nav-outer-wrapper{
background-color: #4A4A4A;

min-width: 100%;
   display: flex;
   flex-flow: row wrap;
  align-items: space-evenly;
   justify-content: center;
   
  }

.footer-nav-item-wrapper{

 width: 100%;
display: flex;
   flex-flow: row wrap;
  justify-content: space-around;
    padding: 0px 0px 0px 0px;
  margin: 10px 40px;
}


footer{
 display: flex;
	text-align: center;
justify-content: space-around;
width: 100%;

  
  
  
}

footer p{

  color: #9b9b9b;
     font-weight: 200;
font-style: normal;
    font-size: 1rem;
    letter-spacing: .1em;
    line-height: 1.55em;
    text-transform: capitalize;
align-items: center;
justify-content: center;
margin: auto;
font-family: 'Sofia-pro', sans-serif;
padding-bottom: 10px;

}









  
  /* ================================= 
  Media Queries
==================================== */
@media (max-width: 767.98px) {
  body
  {
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;


   
    flex-direction: column;

    align-items: center;
  }
}



@media (max-width: 600px) {
	.footer-nav-outer-wrapper,
	.footer {
		display: flex;
justify-content: space-evenly;

	}
	.footer-nav-outer-wrapper {
		flex-direction: row;
		align-items: center;
    
      justify-content: space-between;
		width: 80%;
		margin: 0 auto;
		max-width: 1125px;
	}
	}



@media (min-width: 600px) {
	.footer-nav-outer-wrapper,
	.footer {
		display: flex;
    flex-flow: column wrap;
justify-content: space-evenly;

	}
	.footer-nav-outer-wrapper {
		flex-direction: row;
		align-items: center;
      justify-content: space-between;
		width: 80%;
		margin: 0 auto;
		max-width: 1125px;
	}
	}



@media (min-width: 768px) {
	.footer-nav-outer-wrapper,
	.footer {
		display: flex;
justify-content: space-evenly;

	}
	.footer-nav-outer-wrapper {
		flex-direction: column wrap;
		align-items: center;
      justify-content: space-around;

		width: 80%;
		margin: 0 auto;
		max-width: 1125px;
	}
	}


@media (max-width: 1025px) {
	.footer-nav-outer-wrapper {
		flex-direction: row;
		
	}

}


  

