/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&display=swap");

/* My Styles */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  display: grid;
  place-items: center;

  /* background: #190909; */
  background: linear-gradient(45deg, #190909, rgb(73, 97, 253));

  font-family: "Josefin Sans", sans-serif;
  color: white;
  font-size: 1rem;
}

.container {
  width: 30em;
  padding: 2rem;
}

.head img {
  height: 5rem;
  width: 5rem;
  margin: 0 auto;
  display: block;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}

/*  */

.head p {
  text-align: center;
  padding-top: 1rem;
}

i {
  padding-left: 1rem;
  padding-right: 1.2rem;
}

.links ul li {
  width: 100%;
  margin: 1.2rem 0;
  padding: 0.4rem 0.8rem;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(0px);
  border-radius: 5px;
  /* white gradient border */
  border: 1px solid rgba(255, 255, 255, 0.1);
  transition: background 0.25s;
  transform-style: preserve-3d;
  perspective: 500px;
  box-shadow: 0 0 0.8rem rgba(255, 255, 255, 0.12);
}

.links ul li a {
  width: 100%;
  display: flex;
  align-items: center;
  color: #ffff;
  font-size: 1rem;
}
.links ul li a i {
  text-align: center;
  line-height: 4rem;
  font-size: 1.8rem;
  text-shadow: 2px 2px 12px rgba(0, 0, 0, 0.5);
  transform: scale(1.4) translateZ(50px);
  transition: 0.25s;
}
.links ul li a span {
  line-height: 1.4rem;
}
.links ul .behance:hover,
.links ul .resume:hover {
  /* background: #4961fd; */
  background: rgb(73, 97, 253);
}

.links ul .linkedin:hover {
  /* background: #dd5143; */
  background: #00a0dc;
}
.links ul .github:hover,
.portfolio:hover {
  background: #333;
}

.links ul li:hover {
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.behance:active,
.linkedin:active,
.github:active,
.resume:active,
.portfolio:active {
  /* styled to look like button being pushed in - active state for links */
  transform: translate(0.2rem, 0.2rem);
}

@media only screen and (max-width: 549px) {
  .container {
    width: 88vw;
  }
}

footer {
  text-align: center;
  color: hsl(207, 24%, 56%);
  font-size: 0.75rem;
}
